@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url("./font.css");
body {
    font-family: "Rubik", serif;
    height: 100%;
    min-height: 100vh;
    background-image: url("../img/background.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 5px 0 5px 20px;
    box-sizing: border-box;
    position: relative;
}

.navbar img {
    width: 50px;
    height: auto;
}

.menu a, .hamburger-menu a, .navbar a {
    color: #F2FDFF;
    text-decoration: none;
    font-size: 18px;
}

.navbar h1 a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 900;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    max-width: 800px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#container img {
    width: 200px;
    height: auto;
}

#intro-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

#intro-text h1, .about-intro h1, .cards-container h2 {
    font-size: 30px;
    background: linear-gradient(to bottom, #8dbedf 0%, #51a9e4 45%, #007ACC 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

#intro-text p {
    font-size: 20px;
    color: #818479;
}

#intro-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn {
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.blue {
    background-color: #007ACC;
    border: 2px solid #007ACC;
}

.blue:hover, .yellow:hover {
    background-color: transparent;
}

.yellow {
    background-color: #c6b218;
    border: 2px solid #c6b218;
}

.hamburger-btn, .hamburger-menu {
    display: none;
}

.menu {
    display: flex;
    gap: 10px;
}

.chapter-container {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    max-width: 50%;
}
.chapter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.chapter-header h1, .chapter-layout h1 {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}

.chapter-level {
    padding: 8px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}

.chapter-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chapter-section {
    border-bottom: 1px solid #7b7b7b;
    padding-bottom: 10px;
}

.chapter-section:last-child {
    border-bottom: none;
}

.chapter-section h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}

.chapter-content p{
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
}
.chapter-content li {
    color: #fff;
    list-style-type: disc;
    margin-left: 20px;
    font-size: 16px;
    line-height: 1.6;
}

.chapter-section code {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2px 5px;
    border-radius: 3px;
    color: #fff;
    
}

.chapter-section pre {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 15px;
    overflow-x: auto;
    margin: 15px 0;
}

.chapter-navigation {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.chapter-level.beginner {
    background-color: #007ACC;
}

.chapter-level.advanced {
    background-color: #c6b218;
}

.chapter-layout {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.chapter-selection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    min-width: 20%;
}

.chapter-selection ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chapter-selection a {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}
.chapter-selection a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    max-width: 800px;
}

.about-intro, .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
}
.about-intro p {
    font-size: 20px;
    color: #ffff;
}
.about-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    width: 100%;
    max-width: 800px;
}

.card {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

.card-blue:hover {
    box-shadow: #007ACC 0px 0px 20px 5px;
}
.card-yellow:hover {
    box-shadow: #c6b218 0px 0px 20px 5px;
    color: #c6b218;
}
.card-blue:hover .card-icon {
    color: #007ACC;
}
.card-yellow:hover .card-icon {
    color: #c6b218;
}
.card-html:hover {
    box-shadow: #E34C26 0px 0px 20px 5px;
}
.card-html:hover .card-icon {
    color: #E34C26;
}
.card-css:hover {
    box-shadow: #1572B6 0px 0px 20px 5px;
}
.card-css:hover .card-icon {
    color: #1572B6;
}
.card-js:hover {
    box-shadow: #F7DF1E 0px 0px 20px 5px;
}
.card-js:hover .card-icon {
    color: #F7DF1E;
}
.card-json:hover {
    box-shadow: #7b7b7b 0px 0px 20px 5px;
}
.card-json:hover .card-icon {
    color: #7b7b7b;
}


.card-title {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}
.card-description {
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
}

.card-icon {
    font-size: 50px;
    color: #fff;
    transition-duration: 0.4s;
}

.cards-container h2 {
    font-size: 25px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    max-width: 800px;
    flex-wrap: wrap;
    margin: 10px 0;
}

footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    transition-duration: 0.3s;
}
footer a:hover {
    color: #007ACC;
}
footer p {
    color: #fff;
    font-size: 16px;
}

@media (max-width: 850px) {
    .hamburger-btn {
        display: block;
        font-size: 30px;
    }
    .hamburger-menu {
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(10px);
        flex-direction: column;
        gap: 50px;
        padding: 20px;
        width: 100%;
        height: 100vh;
        transition-duration: 0.4s;
    }
    .menu {
        display: none;
    }
    .hamburger-close {
        font-size: 30px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        cursor: pointer;
        padding: 20px;
        border-radius: 20px;
    }
    .chapter-layout {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        width: 100%;
    }
    .chapter-selection {
        width: 80%;
        padding: 10px;
    }
    .chapter-selection ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        width: 100%;
    }
    .chapter-selection {
        width: 90%;
    }
    .chapter-container {
        max-width: 80%;
    }
}

@media (max-width: 650px) {
    #intro-buttons {
        flex-direction: column;
        align-items: center;
    }
    .btn {
        width: 50%;
    }
    #intro-text h1 {
        font-size: 25px;
    }
    #intro-text p {
        font-size: 18px;
    }
    #container img {
        width: 150px;
    }
    .chapter-navigation {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .chapter-navigation a {
        width: 100%;
        box-sizing: border-box;
    }
}
@media (max-width: 500px) {
    .chapter-selection ul {
        grid-template-columns: repeat(1, 1fr);
    }
}