@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik", serif;
    height: 100%;
    min-height: 100vh;
    background-image: url("../img/background.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 5px 0 5px 20px;
    box-sizing: border-box;
    position: relative;
}

nav img {
    width: 50px;
    height: auto;
}

.menu a, .hamburger-menu a, nav a {
    color: #F2FDFF;
    text-decoration: none;
    font-size: 18px;
}

nav h1 a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 900;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#container {
    width: 20%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#container img {
    width: 200px;
    height: auto;
}

#intro-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

#intro-text h1 {
    font-size: 30px;
    color: #fff;
    font-weight: 900;
}

#intro-text p {
    font-size: 20px;
    color: #818479;
}

#intro-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn {
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.blue {
    background-color: #007ACC;
    border: 2px solid #007ACC;
}

.blue:hover, .yellow:hover {
    background-color: transparent;
}

.yellow {
    background-color: #c6b218;
    border: 2px solid #c6b218;
}

.hamburger-btn, .hamburger-menu {
    display: none;
}

.menu {
    display: flex;
    gap: 10px;
}

#chapter-container {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    min-width: 20%;
}
.chapter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.chapter-header h1 {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}

.chapter-level {
    padding: 8px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}

.chapter-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chapter-section {
    border-bottom: 1px solid #7b7b7b;
    padding-bottom: 10px;
}

.chapter-section:last-child {
    border-bottom: none;
}

.chapter-section h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}

.chapter-content p,li {
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
}

.chapter-section code {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2px 5px;
    border-radius: 3px;
    color: #fff;
    
}

.chapter-section pre {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 15px;
    overflow-x: auto;
    margin: 15px 0;
}

.chapter-navigation {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.chapter-level.beginner {
    background-color: #007ACC;
}

.chapter-level.advanced {
    background-color: #c6b218;
}

@media (max-width: 1200px) {
    #container {
        width: 70%;
    }
}

@media (max-width: 850px) {
    #container {
        width: 90%;
    }
    .hamburger-btn {
        display: block;
        font-size: 30px;
    }
    .hamburger-menu {
        position: absolute;
        left: 0;
        top: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }
    .menu {
        display: none;
    }
}

@media (max-width: 650px) {
    #intro-buttons {
        flex-direction: column;
        align-items: center;
    }
    .btn {
        width: 50%;
    }
    #intro-text h1 {
        font-size: 25px;
    }
    #intro-text p {
        font-size: 18px;
    }
    #intro img {
        width: 150px;
    }
    .chapter-navigation {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .chapter-navigation a {
        width: 100%;
        box-sizing: border-box;
    }
}